                                * {
                                    margin: 0;
                                    padding: 0;
                                }
                                
                                body {
                                    font-family: "Times New Roman"
                                }
                                
                                .tong {
                                    width: 980px;
                                    margin: auto;
                                }
                                
                                .logo img {
                                    width: 50%;
                                }
                                
                                form {
                                    float: right;
                                    padding-top: 35px;
                                }
                                
                                .menu {
                                    height: 35px;
                                    background: red;
                                }
                                
                                .menu ul li {
                                    list-style: none;
                                    float: left;
                                    padding-left: 100px;
                                    line-height: 35px;
                                    font-size: 30px;
                                }
                                
                                .menu ul li a {
                                    text-decoration: none;
                                    color: white;
                                    font-family: "Times New Roman";
                                }
                                
                                .menu ul li a:hover {
                                    background: black;
                                }
                                
                                .chuchay {
                                    font-size: 35px;
                                }